### 작업형 유형 1 문제(1)
#### 데이터 정렬과 평균치 산출

In [1]:
# alcohol(음주수치)이 상위 10번째 값으로 상위 1~10위의 범위의 값을 변경한 후
# speeding(속도)가 7이상의 alcohol(음주수치) 데이터들의 평균 산출
# 최종 결과만 print 출력

In [1]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\ayeong\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\ayeong\anaconda3\lib\site-packages (from seaborn) (1.4.2)
Requirement already satisfied: scipy>=1.0 in c:\users\ayeong\anaconda3\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: numpy>=1.15 in c:\users\ayeong\anaconda3\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib>=2.2 in c:\users\ayeong\anaconda3\lib\site-packages (from seaborn) (3.5.1)
Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: python-dateutil>=2.7 in c:\users\ayeong\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ayeong\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ayeong\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ayeong\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\ayeong\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\ayeong\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ayeong\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayeong\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\ayeong\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)

In [2]:
import seaborn as sns
import pandas as pd
sns.get_dataset_names()
df = sns.load_dataset('car_crashes')
print(df.head(9))

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41
5   13.6     5.032    3.808          10.744       12.920       835.50
6   10.8     4.968    3.888           9.396        8.856      1068.73
7   16.2     6.156    4.860          14.094       16.038      1137.87
8    5.9     2.006    1.593           5.900        5.900      1273.89

   ins_losses abbrev
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA
5      139.91     CO
6      167.02     CT
7      151.48     DE
8      136.05     DC

In [3]:
# alcohol열 내림차순으로 정렬 후 data 변수에 할당 
## sort_values(by=정렬기준(열),ascending=False(내림차순))
data = df.sort_values(by=df.columns[2], ascending=False)

In [4]:
# 상위 10번째 값을 추출하여 ten변수에 할당
ten = data.iloc[9,2]
ten

5.770999999999999

In [5]:
# alcohol열의 상위 1~10위 범위의 값을추출하여 ten변수의 값으로 대체
data.iloc[:10,2] = ten
data.iloc[:10,2]

34    5.771
40    5.771
26    5.771
43    5.771
11    5.771
18    5.771
48    5.771
41    5.771
3     5.771
36    5.771
Name: alcohol, dtype: float64

In [6]:
# 수정된 데이터를 기반으로 speeding열이 7이상인 값을 result 변수에 할당
result = data[(data['speeding']>=7)]
result

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
40,23.9,9.082,5.771,22.944,19.359,858.97,116.29,SC
26,21.4,8.346,5.771,17.976,18.190,816.21,85.15,MT
43,19.4,7.760,5.771,17.654,16.878,1004.75,156.83,TX
11,17.5,9.450,5.771,14.350,15.225,861.18,120.92,HI
18,20.5,7.175,5.771,14.965,20.090,1281.55,194.78,LA
48,23.8,8.092,5.771,23.086,20.706,992.61,152.56,WV
38,18.2,9.100,5.642,17.472,16.016,905.99,153.86,PA
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
50,17.4,7.308,5.568,14.094,15.660,791.14,122.04,WY
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK

In [7]:
# mean함수로 alcohol열의 평균값 산출
print('최종결과물은',result['alcohol'].mean())

최종결과물은 5.600099999999999